.content-heading {
    padding      : 6px;
    border-bottom: 1px solid #ccc;
    cursor       : pointer;
}

.btn {
    display              : block;
    padding              : 6px 24px;
    border-radius        : 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius   : 10px;
    -ms-border-radius    : 10px;
    -o-border-radius     : 10px;
    outline              : none;
    margin               : 40px auto;
}